*{
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html{
	background-color: #404041;
	background-image:url("../photos/backdrop.png");
	background-size:100%;
	background-repeat: none;
}

body{
	width:850px;
	margin:auto;
}
#upperdiv{
	margin:auto;
	text-align: center;
	max-width:850px;
}

#billboard{
	width: 80%;
	height: auto;
	max-width:700px;
}

#lowerdiv{
	padding-top:70px;
	max-width:600px;
	height:600px;
	margin:auto;
	color:#ddd;
}

/*****************************************************
FOOTER
*****************************************************/
footer{
	position:fixed;
	bottom:0;
	left:0;
	background-color:#dadada;
	width:100%;
	height:52px;
	text-decoration:none;
	font-family:'Montserrat Alternates', sans-serif;
	font-size:1em;
	text-align:left;
	padding-left:40px;
	border-top:solid 2px #333;
	opacity: .9;
}

footer p{
	display:inline-block;
}
footer a{
	color:#488;
	text-decoration:none;
}
footer a:hover{
	color:#eee;
}
footer a:active{
	color:#fff;
}
footer p:nth-child(4){
	float: right;
	padding-right: 40px
}

@media screen and (min-width:1200px){
	html{
	}
}

@media screen and (max-width:900px){
	html{
	}
}