---
layout: default
---
<body class="grid">
    <div class="wrapper blog-wrapper">
        <div class="header-longform">
            {% include header.html %}
        </div>
        <div class="longform-wrapper">
            {% for post in site.posts %}
            <a href="{{ site.baseurl }}{{ post.url }}">
                <article class="longform" >
                    <h1>{{ post.title }}</h1>
                    <div class="entry">
                        {{ post.excerpt }}
                    </div>
                    <div class="longform-date">
                        {{ post.date | date: "%B %e, %Y" }}
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>
        <div class="copyright">
            &copy; daniel gorelick 2016
            {% include svg-icons.html %}
        </div>
    </div>
</body>

