<section class="upper">
    <a href="/">
        <img src="../images/logo.png" alt="main logo"/>
        <h2>
            DANIEL GORELICK
        </h2>
    </a>
    <div class="tagline">
        <p>Creative Technologist // New York, NY</p>
    </div>
</section>
<div class="sections">
    <div class="section">
        <a href="{{ site.baseurl }}/#gallery">
            <p>Gallery</p>
        </a>
    </div>
    <div class="section">
        <a href="{{ site.baseurl }}/#about">
            <p>About</p>
        </a>
    </div>
    <div class="section active">
        <a href="{{ site.baseurl }}/blog">
            <p>Blog</p>
        </a>
    </div>
</div>
