<section class="upper">
    <h2>DANIEL GORELICK</h2>
    <div class="tagline">
        <p>Digital &amp; Hardware Creative Technologist<br>New York, NY</p>
    </div>
</section>
<div class="sections">
    <a href="{{ site.baseurl }}/#gallery">
        <div class="section">
            <p>Gallery</p>
        </div>
    </a>
    <a href="{{ site.baseurl }}/#about">
        <div class="section">
            <p>About</p>
        </div>
    </a>
    <a href="{{ site.baseurl }}/blog">
        <div class="section active">
            <p>Blog</p>
        </div>
    </a>
</div>
