<section class="upper">
    <h2>
        <a href="/">
            DANIEL GORELICK
        </a>
    </h2>
    <div class="tagline">
        <p>Digital &amp; Hardware Creative Technologist<br>New York, NY</p>
    </div>
</section>
<div class="sections">
    <div class="section">
        <a href="{{ site.baseurl }}/#gallery">
            <p>Gallery</p>
        </a>
    </div>
    <div class="section">
        <a href="{{ site.baseurl }}/#about">
            <p>About</p>
        </a>
    </div>
    <div class="section active">
        <a href="{{ site.baseurl }}/blog">
            <p>Blog</p>
        </a>
    </div>
</div>
