* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font: bold 20px;
  font-family: 'Press Start 2P', Arial, sans-serif;
/*  border:2px dotted blue;*/
}
html {
	height: 100%;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

#container{
	width: 450px;
	height:300px;
	margin: 10% auto;
	background-color:#A8A8A8;
	border-radius:16px;
	box-shadow:1px 4px #787878;
}

#input{
	margin:0px 25px;
	width:400px;
	float:left;


}
.inputbar{
	padding-top:25px;
	margin-top:25px;
	margin-left:25px;
}

.inputbox{
	width:280px;
	background:#444444;
	color:#eeeeee;
	text-align:center;
	float:left;
	height: 40px;
	margin:5px 10px;
	padding: 10px;
 	border: none;
 	border-radius:8px;
 	line-height: 30px;
 	outline: none;
 	box-shadow: inset 1px 4px #888888;
 	overflow: hidden;

}

.buttons span, .inputbar span{
	width:80px;
	height:40px;
	position:relative;
	top:0px;
	margin:5px 10px;
	background:#ccFFFF;
	float:left;
	text-align:center;
	line-height:40px;
	border-radius:8px;
	box-shadow:1px 4px #aaeeee;
	cursor:pointer;
	transition: all 0.05s ease;
	  -webkit-user-select: none;
  	-khtml-user-select: none;
 	 -moz-user-select: none;
 	 -o-user-select: none;
  	user-select: none;
}

.buttons span:hover, .inputbar span:hover{
	background:#aaeeee;
	box-shadow:1px 4px #66cccc;
}

.buttons span:active, .inputbar span:active{
	box-shadow: 0px 0px #66cccc;
	top:4px;
}
