* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
	height: 100%;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

body{
	font-family: 'Anonymous Pro', serif;
	font-weight: bold;
	font-size:20pt;
}
#container{
	width: 450px;
	height:300px;
	margin: 10% auto;
	background-color:#A8A8A8;
	border-radius:16px;
	box-shadow:1px 6px #888888;
}

#input{
	margin:0px 25px;
	width:400px;
	float:left;
}

.inputbar{
	padding-top:25px;
	margin-top:25px;
	margin-left:25px;
}

#inputbox{
 	white-space:nowrap;
 	float:right;
}
#inputcontainer{
	width:280px;
	background:#444444;
	color:#FFF;
	text-align:right;
	float:left;
	height: 40px;
	margin:5px 10px;
	padding: 10px;
 	border: none;
 	border-radius:8px;
 	line-height: 1em;	
 	outline: none;
 	box-shadow: inset 1px 4px #888888;
 	overflow: hidden;
	}


.buttons span, .inputbar span.clear{
	width:80px;
	height:40px;
	position:relative;
	top:0px;
	margin:5px 10px;
	background:#ccFFFF;
	float:left;
	text-align:center;
	line-height:40px;
	border-radius:8px;
	box-shadow:1px 4px #aaeeee;
	cursor:pointer;
	transition: all 0.025s ease;
	  -webkit-user-select: none;
  	-khtml-user-select: none;
 	 -moz-user-select: none;
 	 -o-user-select: none;
  	user-select: none;
}

.buttons span:hover, .inputbar span.clear:hover{
	background:#aaeeee;
	box-shadow:1px 4px #66cccc;
}

.buttons span:active, .inputbar span.clear:active, .push-button.active, .push-button.clear.active{
	box-shadow: 0px 0px #66cccc;
	top:4px;
}

/*.test-box {
	display: block;
	position: relative;
	margin-top: 300px;
	margin-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 200px;
	background-color: lightblue;
}

&::before {
	content:"";
	display: block;
	height: 0;
	width: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid black;
	position: absolute;
	top: -20px;
	overflow: visible;
}

.test-box::after {
	content:"";
}*/