html{
	height: 100%;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

button{
	margin:0 10px 0 10px;
}

.wrapper{
	position:relative;
	background-color:#ffffff;
	width:50%;
	min-width:600px;
	margin:auto;
	margin-top:40px;
	margin-bottom:40px;
	padding-top:40px;
	padding-bottom:75px;
	-webkit-box-shadow: 0px 2px 19px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 19px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 19px 1px rgba(0,0,0,0.75);
	text-align:center;
}

.wrapper h4{
	padding:0;
	margin-top:20px;
}

.date{
	font-size:30px;
	margin:0;
	line-height: 10px
}
.logo{
	width:200px;
	height:auto;
}

.article{
	width:450px;
	padding-bottom:50px;
	margin:auto;
	margin-top:50px;
	text-align:left;
}

.images{
	max-width:300px;
	height:auto;
}

@font-face {
  font-family: "Englisht";
  src: url(../fonts/ENGLISHT.TTF) format("truetype");
}

@media (min-width: 0px) and (max-width: 992px){
	html{
		background-color:#ffffff;
		background: none;
	}
	.wrapper{
		width:85%;
		margin:auto;
		height:100vh;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

	}
}