.NYT:hover:after{
	content:"Weekend hack playing with the NYTimes API using AJAX";
}
.WKNTS:hover:after{
	content:"Android application Cosmo the Wikinaut, a spin-off of the 'Wikipedia Game'";
}
.CVIN:hover:after{
	content:"Developed professional design portfolio for graphic designer Calvin Chin";
}
.CALC:hover:after{
	content:"Playing around with Javascript and Mousetrap.js library";
}
.GAI:hover:after{
	content:"Page build for BU GAI organization for the 2nd mobile application hackathon";
}

.HACK:hover:after{
	content:"Speech workshop webapp built at MakeBU hackathon. Uses Google Speesh API and Semantria API";
}

.MAIL:hover:after{
	content:"Let's get in touch!";
}
.GIT:hover:after{
	content:"Some more projects";
}
.IN:hover:after{
	content:"More about me";
}
