* {
	&::selection {
		background-color: $blue-transparent;
		text-decoration-color: #fff!important;
		color: #fff;
	}
	&::-moz-selection {
		background-color: $blue-transparent;
		text-decoration-color: #fff!important;
		color: #fff;
	}
}

.image { opacity: 0; };
.image-loaded { opacity: 1;  transition: opacity 0.5s;};
.image-not-loaded {opacity: 0; transition: opacity 0; };

body {
	font-family: $main-font;
	padding:0;
	margin:0;
	font-size: 16px;
	background-color: #f7f7f7;
	color: #black;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	a {
		color: $black;
		background-color: rgba(0,0,0,0);
		text-decoration: underline;
		-webkit-transition: color, background-color 0.25s $transition;
		transition: color, background-color 0.25s $transition;
		&::selection {
			text-decoration-color: #fff;
		}
		&::-moz-selection {
			text-decoration-color: #fff;
		}
	}
	a:hover {
		color: #fff;
		background-color: $blue;
	}
}

.copyright {
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 0;
	background-color: $light-gray;
	padding: 0 0 30px;
	width:100%;
	font-size: 13px;
	color: $copy;
}

.browser {
	@include media(small) {
		display: none;
	}
	-webkit-overflow-scrolling: touch;
	margin-top: 1rem;
}

h1,h2,h3,p{
	padding:0;
	margin:0;
}

.wrapper{
	position: relative;
	padding: 30px 25px 80px;
	width: 80%;
	min-width: 320px;
	max-width: 1000px;
	height: 100%;
	margin: auto;
	text-align:center;
	background-color: $light-gray;
	&.project-wrapper {
		margin: 0 auto;
	}
	.about-wrapper {
		.about-bio {
			p span {
				float: left;
				font-size: 80px;
				line-height: 60px;
				padding-top: 4px;
				padding-right: 5px;
				padding-left: 3px;
			}
		}
		.about-photo {
			padding-top: 30px;
		}
	}
	@include media(small) {
		padding: 40px 5px 60px;
		width: calc(100% - 10px);
		margin: 0 auto;
		.about-wrapper {
			padding: 0 10px;
			.about-bio {
				width: 100%;
				display: block;
			}
			.about-photo {
				display: none;
			}
		}
	}
	&.header-blog {
		margin: 0 auto;
		.upper {
			min-height: 90px;
			img {
				width: 70px;
				float: left;
				margin-right: 20px;
			}
		}
	}
	.upper {
		max-width: 400px;
		margin: 0 auto;
		img {
			width: 80px;
		}
		a {
			text-decoration: none;
			&:hover {
				background-color: transparent;
				color: #000;
			}
		}
		h2 {
			cursor: pointer;
			font-size: 1.5rem;
			margin-top: 1rem;
			font-family: $tile-font;
		}
		.section-title {
			padding: 15px 0;
		}

		.tagline {
			margin-top: 0.5rem;
			padding-bottom: 1rem;
			span p {
				margin-top: 5px;
			}
		}
	}
	.sections {
		margin: 0 auto;
		padding-bottom: 20px;
		> a {
			background-color: transparent;
			text-decoration: none;
		}
		.section {
			text-align: center;
			cursor: pointer;
			text-transform: uppercase;
			width: 60px;
			display: inline-block;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			background-color: rgba(255,255,255,0);
			-webkit-transition: all 400ms $transition;
			transition: all 400ms $transition;
			border-bottom: 2px solid transparent;
			> a {
				text-decoration: none;
			}
			&.active {
				border-bottom: 2px solid $blue;
			}
			&:hover {
				a {
					color: #fff;
				}
				background-color: $blue;
				color: #fff;
			}
		}
	}
	.about-wrapper {
		line-height: 1.5em;
		color: #333;
		.contact {
			margin-top: 2rem;
			a {
				text-decoration: none;
			}
		}
		.about-bio {
			text-align: left;
			display: inline-block;
			width: 40%;
			padding: 30px;
			.about-photo-mobile {
				display: none;
				margin: 0 auto 20px;
				width: 200px;
				height: 200px;
				overflow-y: hidden;
				img {
					margin-top: -30px;
					width: 200px;
					height: auto;
				}
			}
			@include media(small) {
				width: 80%;
				.about-photo-mobile {
					display: block;
				}
			}
		}
		.about-photo {
			direction: ltr;
			vertical-align: top;
			text-align: right;
			width: 40%;
			display: inline-block;
			@include media(small) {
				display:none;
			}
			img {
				width: 80%;
				height: auto;
			}
		}
	}
}

.embed-video {
	width: 100%;
	margin: 1.5rem auto 10px;
	> div {
		position: relative;
		padding-bottom: 56%;
		height: 0px;
		background-color: #000;
	}
	iframe {
		border: none;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
}
