@import "variables";

* {
	&::selection {
		background-color: $blue-transparent;
		color: #fff;
	}
	&::-moz-selection {
		background-color: $blue-transparent;
		color: #fff;
	}
}

body{
	font-family: $main-font;
	padding:0;
	margin:0;
	color: #black;
	overflow-y: scroll;
	min-height: 100vh;
	-webkit-overflow-scrolling: touch;
	a{
		text-decoration: none;
		color: $black;
		background-color: $link-background;
	}
	a:hover{
		color: #fff;
		background-color: $blue;
	}
}

.browser {
	-webkit-overflow-scrolling: touch;
}

h1,h2,h3,p{
	padding:0;
	margin:0;
}

.wrapper{
	position: relative;
	padding: 40px 25px 25px;
	width: 75%;
	min-width: 320px;
	max-width: 600px;
	height: 100%;
	margin: 90px auto;
	text-align:center;
	background-color: #ffffff;
	.upper{
		#about {
			font-family: $tile-font;
			padding: 5px 0;
		}
		.section-title {
			padding: 15px 0;
		}

		#tagline {
			padding: 5px 0 10px 0;
		}
	}
	.tiles {
		padding: 20px 0 0;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-align-content: flex-end;
		align-content: flex-end;
		.tile {
			background-size: cover;
			background-position: center;
			position: relative;
			width: 190px;
			height: 130px;
			margin: 3px;
			font-family: $tile-font;
			-webkit-filter: grayscale(60%);
			filter: grayscale(60%);
			&:hover {
				-webkit-filter: initial;
				filter: initial;
			}
			.filter {
				z-index: 99;
				position: absolute;
				width: 100%;
				height: 100%;
				cursor: pointer;
				-webkit-transition: background-color 0.25s, -webkit-transform 0.25s;
				transition: background-color 0.25s, transform 0.25s;
				overflow: hidden;
				display:flex;
				align-items:center;
				&:hover {
					background-color: $blue-transparent;
					p {
						color: #fff;
					}
				}
				p {
					font-size: 45px;
					text-transform: uppercase;
					display: block;
					position: absolute;
					left: 0;
					margin: 0 8px;
					text-align: left;
					color: rgba(0,0,0,0);
					word-break: break-all;
					text-align: center;
					top: 2px;
				}
			}
			&.break-word {
				p {
					word-break: break-word;
				}
			}
			&.fixed-margin {
				p {
					margin: 0 30px;
				}
			}
			&.fixed-margin-2 {
				p {
					margin: 0 23px;
				}
			}
		}
	}
}

section.contact{
	margin: 0 auto;
	.section-title{
		padding: 0 0 5px 0;
	}
	a {
		background-color: transparent;
	}
	a:hover {
		background-color: $blue;
	}
	p{
		display: inline-block;
		width: 70px;
		font-size: 1em;
	}
}

.modal {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: absolute;
	top:0;
	left:0;
	overflow: scroll;
	.navigation {
		width: 250px;
		margin: 32px 0 0 5%;
		position: fixed;
		height: 30px;
		background-color: transparent;
		z-index: 9999;
		.nav-btn {
			position: absolute;
			// background-color: $link-background;
			background-color: #fff;
			width: 100px;
			height: 100%;
			line-height: 30px;
			text-align: center;
			cursor: pointer;
			&:hover {
				background-color: $blue;
				color: #fff;
			}
			&.nav-back {
				left: 0;
				width: 30%;
			}
			&.nav-next {
				right: 0;
				width: 30%;
			}
			&.nav-home {
				margin: 0 auto;
				width: 40%;
				left: 0;
				right: 0;
			}
		}
	}
	.project-details {
		width: 25%;
		min-width: 250px;
		margin: 100px 5% 150px 5%;
		text-align: left;
		position: fixed;
		background-color: $background;
		.project-details-wrapper {
			padding: 10px 10px;
			.title {
				line-height: 1em;
				font-size: 2em;
				padding: 10px 0 10px 0;
			}
			.description {
				padding: 10px 0 0 0;
				color: $copy;
			}
			.technologies {
				padding: 10px 0 0 0;
				color: $copy;
				.technologies-title {
					font-size: 1.1em;
					color: $black;
				}
			}
			.date, .areas {
				padding: 0 0 0 0;
				// color: $copy;
				font-size: 1.1em;
			}
		}
		.links {
			margin: 20px 0 0;
			width: 100%;
			position: relative;
			height: 30px;
			a {
				display: inline-block;
				text-align: center;
				height: 100%;
				line-height: 30px;
			}
			.link-half {
				width: 50%;
			}
			.link-whole {
				width: 100%;
			}
		}
	}
	.slideshow, .browser {
		position: absolute;
		right: 0;
		overflow: scroll;
		padding: 100px 0;
		width: 60%;
		margin: 0 5% 0 0;
		text-align: center;
		img{
			width: 50%;
			height: auto;
			padding: 0 0 10px 0;
			-webkit-transition: width 0.2s, height 0.2s, -webkit-transform 0.2s;
			transition: width 0.2s, height 0.2s, transform 0.2s;
			&:hover{
				width:90%;
				height:auto;
			}
		}
		.smaller{
			width: 20%;
			height: auto;
			&:hover {
				width: 50%;
				height: auto;
			}
		}
	}
	.slideshow::-webkit-scrollbar, .browser::-webkit-scrollbar  {
	    display: none;
	}
	.slideshow {
		&.has-iframe {
			display: none;
		}
	}
	.browser{
		width: 60%;
		iframe{
			border: none;
			height: 100vh;
		}
	}
}


// tablets
@media only screen and (max-width: 64.063em) {
	.modal {
		.navigation {
			position: absolute;
		}
		.project-details{
			position: relative;
			margin: 100px 5% 40px 5%;
			z-index: 0;
			width: 90%;
			max-width: 700px;
		}
		.slideshow, .browser {
			overflow: visible;
			text-align: left;
			width: 90%;
			margin: 0 5% 0 5%;
			padding: 25px 0;
			img{
				width:80%;
				height:auto;
				&:hover{
					width:80%;
					height:auto;
				}
			}
			.smaller{
				width: 60%;
				height: auto;
				&:hover{
					width: 60%;
					height: auto;
				}
			}
		}
		.slideshow {
			&.has-iframe {
				display: initial;
			}
		}
		.browser {
			display: none;
		}
	}
}

// smallest
@media only screen and (max-width: 544px) {
	.wrapper {
		padding: 40px 5px 10px;
		width:100%;
		.tiles {
			padding: 20px 50px 0;
			.tile {
				width: 100%;
				height: 200px;
				margin-bottom: 35px;
				-webkit-filter: initial;
					filter: initial;
				.filter {
					background-color: rgba(255,255,255,0.02);
					overflow: visible;
					mix-blend-mode: initial;
					p {
						color: #000;
						width: 100%;
						font-align: center;
						top: initial;
						bottom: -25px;
						font-size: 20px;
						text-align: center;
						margin: 0;
					}
					&:hover {
						background-color: transparent;
						p {
							color: $blue;
						}
					}
				}
			}
		}
	}
	.modal {
		.navigation {
			width: 100%;
			top: 0;
			margin: 0;
			padding: 0;
			position: fixed;
			.nav-btn {
				background-color: $link-background;
				&.nav-back {
					width: 30%;
					margin-left: 0;
				}
				&.nav-next {
					width: 30%;
					margin-right: 0;
				}
			}
		}
		.project-details {
			margin: 60px 5% 0 5%;
		}
	}
}

#pokemon {
	background-image:url("../../images/pokemon/thumb.png");
}
#breakerbot {
	background-image:url("../../images/breakerbot/thumb.jpg");
}
#processing {
	background-image:url("../../images/processing/tesseract.gif");
	background-size: contain;
}
#sharks_and_minnows {
	background-image:url("../../images/sharks/thumb.png");
}
#neif {
	background-image:url("../../images/neif/thumb.jpg");
}
#bostonhacks {
	background-image:url("../../images/bostonhacks/thumb.png");
}
#typespecimen {
	background-image:url("../../images/typespecimen/thumb.png");
}
#map {
	background-image:url("../../images/map/thumb.png");
}
#newyorktimes {
	background-image:url("../../images/newyorktimes/thumb.gif");
}
#wikinauts {
	background-image:url("../../images/wikinauts/thumb1.png");
}
#calvin {
	background-image:url("../../images/calvin/thumb.png");
}
#orator {
	background-image:url("../../images/orator/thumb.png");
}

#mbta {
	background-image:url("../../images/mbta/thumb.png");
}

#popallston {
	background-image:url("../../images/popallston/thumb.png");
}
