@import "variables";
@import "notes";

html{
}

body{
	font-family: $main-font;
	padding:0;
	margin:0;
	color: #black;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

h1,h2,h3,p{
	padding:0;
	margin:0;
}

.wrapper{
	position: relative;
	padding:40px 0 25px 0;
	width:350px;
	margin:0 auto;
	height: 100%;
	min-height: 410px;
	margin: 90px auto;
	text-align:center;
	background-color: #ffffff;
	.upper{
		h2{
			text-decoration: underline;
			padding: 5px 0;
		}
	}
}

section.upper{
	.logo{
		margin:0 0 10px 0;
		width:120px;
		height:auto;
	}
	.cube{
		min-height: 104px;
		img{
			width: 100px;
			height: auto;
			pointer-events: none;
		}
	}
}

section.projects, section.contact{
	margin: 0 auto;
	.section-title{
		padding: 0 0 5px 0;
	}
	p{
		font-size: 1.1em;
		line-height: 1.25em;
	}
	p:hover, a:hover{
		color: $blue;
		cursor: pointer;
	}
	a{
		text-decoration: none;
		color: $black
	}
}

section.contact{
	padding-top: 25px;
	p{
		display: inline-block;
		width: 70px;
		font-size: 0.8em;
	}
}

.modal {
	display: none;
	width:100%;
	height: 100%;
	background-color: $background;
	position: absolute;
	top:0;
	left:0;
	overflow: scroll;
	a{
		text-decoration: none;
		color: $black;
	}
	a:hover{
		color: $blue;
	}

	.modal-header{
		width: 100%;
		margin: 50px 5% 0;
		position: fixed;
		z-index: 10;
		div{
			padding: 2px 10px;
			width: 70px;
			// width: 25%;
			// min-width: 100px;
			font-size: 1.25em;
			text-decoration: underline;
			background-color: $background;
			cursor: pointer;
		}
	}
	.modal-wrapper{
		padding: 25px 10px;
		width: 25%;
		min-width: 250px;
		margin: 100px 5% 150px 5%;
		float: left;
		text-align: left;
		position: fixed;
		background-color: $background;
		.title{
			font-size: 2em;
		}
		.html-link{
			padding: 10px 0 0 0;
			font-size: 1.25em;
		}
		.github-link{
			font-size: 1.25em;
		}
		.description{
			padding: 10px 0 0 0;
		}
		.areas{
			padding: 0 0 0 0;
		}
	}
	.bio{
		width: 85%;
		margin: 100px 5%;
		background-color: $background;
		padding: $bio-padding;
		img{
			width: 350px;
			height: auto;
			padding-bottom: 10px;
		}
	}
	.slideshow, .browser{
		overflow: scroll;
		padding: 100px 0;
		width: 60%;
		margin: 0 5% 0 0;
		float: right;
		text-align: center;
		img{
			width: 50%;
			height: auto;
			padding: 0 0 10px 0;
			-webkit-transition: width 0.2s, height 0.2s, -webkit-transform 0.2s;
			transition: width 0.2s, height 0.2s, transform 0.2s;

			&:hover{
				width:80%;
				height:auto;
			}
		}
		.smaller{
			width: 20%;
			height: auto;
			&:hover {
				width: 50%;
				height: auto;
			}
		}
	}
	.slideshow{
		display:none;
	}
	.browser{
		width: 60%;
		iframe{
			border: none;
			height: 100vh;
		}
	}
}

// Blog
.blog {
	display: inherit;
	width:100%;
	height: 100%;
	background-color: $background;
	position: relative;
	top:0;
	left:0;
	overflow: scroll;
	a {
		text-decoration: none;
		color: $black;
		&:hover{
			color: $blue;
		}
	}
	.blog-header{
		width: 100%;
		margin: 50px 5% 0;
		position: fixed;
		z-index: 10;
		div{
			padding: 2px 10px;
			width: 70px;
			font-size: 1.25em;
			text-decoration: underline;
			background-color: $background;
			cursor: pointer;
		}
	}
	.blog-wrapper{
		padding: 25px 10px;
		width: 25%;
		min-width: 250px;
		margin: 100px 5% 150px 5%;
		float: left;
		text-align: left;
		position: fixed;
		background-color: $background;
		.title{
			font-size: 2em;
		}
		.html-link{
			padding: 10px 0 0 0;
			font-size: 1.25em;
		}
		.github-link{
			font-size: 1.25em;
		}
		.description{
			padding: 10px 0 0 0;
		}
		.areas{
			padding: 0 0 0 0;
		}
	}
	.blog-posts {
		// overflow: scroll;
		z-index: 9999;
		position: absolute;
		padding: 100px 0;
		width: 60%;
		margin: 0 5% 0 0;
		right: 0;
		text-align: center;
		img{
			width: 50%;
			height: auto;
			padding: 0 0 10px 0;
			&:hover{
				width:100%;
				height:auto;
			}
		}
		.smaller{
			width: 20%;
			height: auto;
			&:hover {
				width: 50%;
				height: auto;
			}
		}
	}
}

/******************************************************
	MEDIA QUERIES
*******************************************************/

@media only screen and (max-width: 64.063em) {
	.modal{
		.modal-header{
			// margin: 25px 5%;
			position: relative;
		}
		.modal-wrapper{
			position: relative;
			margin: 15px 5% 0 5%;
			padding: 10px 10px;
			z-index: 0;
		}
		.bio{
			width: 85%;
			margin: 100px 5%;
			padding: $bio-padding;
		}
		.slideshow, .browser{
			text-align: left;
			float: left;
			width: 90%;
			margin: 0 5% 0 5%;
			padding: 25px 0;
			img{
				width:80%;
				height:auto;
				&:hover{
					width:80%;
					height:auto;
				}
			}
			.smaller{
				width: 60%;
				height: auto;
				&:hover{
					width: 60%;
					height: auto;
				}
			}
		}
		.slideshow{
			display: inherit;
		}
		.browser{
			display: none;
		}
	}
}

